
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
}
h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 1.5rem;
}
p {
  color: #555;
}
.topbar {
  height: 7rem;
  background-color: #ececec;
}
.nav-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: 100%;
}
.nav-left-part {
  display: flex;
  width: 35vw;
  justify-content: space-between;
}
.nav-header,.nav-links,.nav-right-part {
  display: flex;
  align-items:flex-end;
}
.nav-logo {
  width: 25.6rem;
  margin-right: 4rem;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #ff5722, #ffeb3b);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.nav-logo:hover{
  color: #ff9800;
  transform:scale(1.05);
}
.nav-links {
  position: relative;
}
.btn {
  background-color: #645cff; 
  color: #fff; 
  border-radius: 0.5rem; 
  padding: 0.8rem 1.2rem; 
  cursor: pointer; 
  box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  border:2px solid #333;
}
.btn:hover {
  background-color: #504acc;
}
.nav-links a {
  padding: 0 2rem; 
  border-left: 1px solid #333;
  color: #333; 
  font-weight: 500; 
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.2s ease, color 0.2s ease;
  font-size: 1.7rem;
}
.nav-links a:first-child {
  border-left: none;
}
.nav-links a:hover {
  color: #645cff; 
  transform: translateY(-2px); 
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4); 
}
.nav-right-part {
  position: relative;
  top: 0.3rem;
}
/* dropdown-menu  */
.dropdown-menu {
  display: none;
  position: absolute;
  background: #ff8c31;
  z-index: 1000;
  margin-top: 1.7rem;
  width: 28rem;
  top:100%;
  left:23rem;
  box-shadow: 2px 4px 8px rgba(255, 165, 0, 0.3);
  border-radius: 4px;
}
.dropdown-menu a {
  display: block;
  padding: 10px;
  color: white;
}
.dropdown-menu a:hover{
  background-color: #ff7500;
  border-bottom: 1px solid #666;
}
/* recipe page  */
.recipe-page {
  max-width: 98%;
  margin: 0 auto;
}
.front-section {
  display: grid;
  gap: 0;
}
.recipe-hero-img {
  width: 98%;
  border-radius: 0.5rem;
  justify-self: center;
  margin-top: 0.5rem;
}
.recipe-details,
.recipe-info, 
.quick-facts, 
.nutrition-facts, 
.ingredients{
  margin-top: 1rem;
}
.quick-facts,
.nutrition-facts {
  width: 90%;
}
.cuisine-name {
  font-size: 3rem;
  font-weight: 600;
  color: #d35400; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
}
.cuisine-cat {
  font-size: 2rem;
  color: #6a0dad; 
}
.description {
  font-size: 2rem;
  color: #2d98da; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
}
.button-container {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  margin: 1rem 0;
}
.button-container button {
  width: 15rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background:linear-gradient(145deg, #007acc, #005f9e);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.button-container button:hover {
  background: #ff7f50;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.recipe-icons,
.recipe-nutrition {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.7rem;
  color: #4c8dae;
}
.quick-facts,
.nutrition-facts,
.ingredient {
  background-color: #f0f0f0; 
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1); 
}
.ingredients{
  padding-left: 3rem;
}
.ingredient {
  display: grid;
  grid-template-columns: 3fr 0.5fr 1fr;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  max-width: 80%;
}
.ingredient-item,
.ingredient-amount,
.ingredient-unit {
  font-weight: 500;
}
.ingredient-item {
  color: #6a0dad;
}
.ingredient-amount {
  color: #006994;
}
.ingredient-unit {
  color: #5d5d5d;
}
.recipe-icons h5,
.recipe-icons p,
.nutrition-item h5,
.nutrition-item p{
  margin-bottom: 0;
  font-size: 1.5rem;
}
.recipe-nutrition i {
  font-size: 1.7rem;
  color: #f9906f; 
}
.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 2rem;
}
.recipe-tags a {
  background: #ff9900;
  border-radius: 0.25rem;
  color: white;
  padding: 0.05rem 0.5rem;
  margin: 0 0.5rem;
  text-transform: capitalize;
  border: 2px solid #fff;
}
.back-section {
  padding: 3rem 3rem;
  display: grid;
  gap: 2rem 5rem;
 }
 .instruc header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
  padding-right: 1rem;
 }
 .instruc header div {
  height: 1px;
  background: #c0bebe;
 }
 .instruc header p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  color: #004080;
  font-size: 1.5rem;
 }
 .instruc > p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
 }
 .recipe-info-section {
  display: grid;
  row-gap: 3rem;
 }
@media (max-width:57.5rem){
 .nav-links, .nav-right-part {
  display: none;
  }
 .show {
  display: flex;
  }
 .nav-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 1rem;
 }
 .nav-left-part {
  width: 100%;
  flex-direction: column;
 }
 .nav-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .nav-logo {
  font-size:1.8em;
  margin-right: 1rem;
 }
 .nav-btn {
  display: block;
  font-size: 1.5em;
  padding: 0.5rem;
 }
 .nav-links {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
 }
 .nav-links a {
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #cdcbcb;
  width: 100%;
  text-align:center;
 }
 .nav-right-part {
  margin-top: 0.5rem;
  width: 100%;
  justify-content:center;
 }
 .cuisine-name {
  font-size: 2rem;
  font-weight: 500;
}

.cuisine-cat {
  font-size: 1.5rem;
}
.description{
  font-size: 1.4rem;
}
 .recipe-tags {
  font-size: 1em;
  font-weight: 500;
}
.dropdown-menu {
  left:0;
}
.quick-facts,
.nutrition-facts {
  width: 100%;
}
.ingredient {
  max-width: 100%;
}
}
@media (min-width:57.6rem) and (max-width:143.9rem){
  .recipe-page {
    max-width: 160rem; 
    margin: 0 auto; 
  }
  .nav-btn {
    display: none;
  }
  .front-section {
    grid-template-columns: 4fr 5fr;
    align-items:center;
  }
  .recipe-hero-img {
    width: 80%;
    margin-top: 3rem;
  }
  .back-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:144rem){
  .recipe-page {
    max-width: 180rem; 
    margin: 0 auto; 
  }
  .nav-btn {
    display: none;
  }
  .front-section {
    grid-template-columns: 4fr 5fr;
    align-items:center;
  }
  .recipe-hero-img {
    width: 80%;
    margin-top: 3rem;
  }
  .back-section {
    grid-template-columns: 1fr 1fr;
  }
}
